<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/results %>
		<link rel="stylesheet" href="/style/results.css" type="text/css">
		<link href="path-to-file/social-sharing.css" rel="stylesheet">
	</head>
	<body>


	<div class="container">
		<h5>RESULTS</h5>
		<img src="/images/gold.png" id="gold" width"110" height="90">
		<div><%= first_name %> : <%= first_score %></div>
		<br>
		<img src="/images/silver.png" id="silver" width"110" height="90">
		<div><%= second_name %> : <%= second_score %></div>
		<br>
		<img src="/images/bronze.png" id="bronze" width"110" height="90">
		<div><%= third_name %> : <%= third_score %></div>
		<br>
		<img src="/images/sadFace.png" id="sadFace" width"110" height="90">
		<div><%= loser_name %> : <%= loser_score %></div>
		<br>
		<button id="btnPlayAgain" class="btn">PLAY AGAIN</button>
		<button id="btnFbk" class="btn">SHARE FACEBOOK</button>
		<button id="btnExit" class="btn">EXIT</button>


	</div>


	</body>
</html>
