<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/results %>
		<link rel="stylesheet" href="/style/results.css" type="text/css">
		<link href="path-to-file/social-sharing.css" rel="stylesheet">
	</head>
	<body>
			<script type="text/javascript">
				window.fbAsyncInit = function() {
					FB.init({
						appId      : 'your-app-id',
						xfbml      : true,
						version    : 'v2.4'
					});
				};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>

	<div class="container">
		<h5>RESULTS</h5>
		<img src="/images/gold.png" id="gold" width"110" height="90">
		<div><%= first_name %> : <%= first_score %></div>
		<br>
		<img src="/images/silver.png" id="silver" width"110" height="90">
		<div><%= second_name %> : <%= second_score %></div>
		<br>
		<img src="/images/bronze.png" id="bronze" width"110" height="90">
		<div><%= third_name %> : <%= third_score %></div>
		<br>
		<img src="/images/sadFace.png" id="sadFace" width"110" height="90">
		<div><%= loser_name %> : <%= loser_score %></div>
		<br>
		<button id="btnPlayAgain" class="btn">PLAY AGAIN</button>
		<script type="text/javascript">
			function share() {
				FB.ui({method: "feed", link: "http://localhost:3000", name: "Plazarama", caption: "I got <%= my_score %> in Plazarama.", description: "I got <%= my_score %> in Plazarama.\nJoin us now."}, function(response){
					if (!response || !response.post_id) {
			    	console.log("Error");
			    }
				});
			}
		</script>
		<button id="btnFbk" onclick="share()" class="btn">SHARE FACEBOOK</button>
		<button id="btnExit" class="btn">EXIT</button>


	</div>


	</body>
</html>
