<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>Results</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS-->

		<link rel="stylesheet" href="/style/results.css" type="text/css">
		<link href="path-to-file/social-sharing.css" rel="stylesheet">

		<!--Favicon-->
  		<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

  		<!--Font Aswome-->
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	

  		<% include partials/results %>	
  		

	</head>

	<header>
    	<% include partials/header %>
	</header>

	<body>
	<div class="container">
	<br>	
	<img class="img-responsive center-block" src="/images/logo.png" id="logoImage" width="70" height="70" alt="">
		<h1>Results</h1>
		
		
		<img src="/images/gold.png" id="gold" width"110" height="90"
		<div id="results"><%= first_name %> : <%= first_score %>
		
		<br>
		<img src="/images/silver.png" id="silver" width"110" height="90" 
		<div id="results"><%= second_name %> : <%= second_score %>
		
		<br>
		<img src="/images/bronze.png" id="bronze" width"110" height="90"
		<div id="results"><%= third_name %> : <%= third_score %>
		
		<br>
		<img src="/images/sadFace.png" id="sadFace" width"110" height="90"
		<div id="results"><%= loser_name %> : <%= loser_score %>
		
		<br>

		<script type="text/javascript">
			function share() {
				FB.ui({
					method: 'feed',
					link: 'http://plazarama.github.io/',
					redirect_uri: 'http://localhost:3000',
					name: 'Plazarama',
					caption: 'Plazarama, an online multiplayer and multiscreen game.',
					description: 'I got <%= my_score %> in Plazarama.\nJoin us now.'
				}, function(res) {
					if(res && res.post_id) {
						console.log(res.post_id);
					}
					else {
						console.log("Error");
					}
				});
			}
		</script>
		

		<a href="player" type="button" id="btnPlayAgain" class="btn" title="Play Again!"class="fa fa-puzzle-piece"><i class="fa fa-puzzle-piece"></i></a></button>

		<a href="index" type="button" id="btnExit" class="btn" title="Return to Home!"><i class="fa fa-home"></i></a></button>

		<a href="" type="button" onclick="share()" id="btnFbk" class="btn" title="Share to Facebook!"><i class="fa fa-facebook-official"></i></a></button>

		<% include partials/footer %>
	</div>


	</body>
</html>
