<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS-->
    <link rel="stylesheet" href="style/stats.css" type="text/css">

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!--Font Aswome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Link to facebook sharing-->
	<link href="path-to-file/social-sharing.css" rel="stylesheet">

	<title> Satistics </title>

	<% include partials/head %>
>
	</head>
	<body>
		<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '778914578901856',
				xfbml      : true,
				version    : 'v2.5'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

	<!--nav bar-->
	<header>
	<% include partials/header %>
	</header>


	<!--Container -->
      <div class="container">
      <!-- brings pages to the middle-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

        <img class="img-responsive center-block" id="logoImage" src="/images/logo.png" width="70" height="70" alt="">
        <h1>STATISTICS</h1>
 		<br>
 		<!--Top panel for the username of player -->
        <div class="panel panel-info">
        <div class="panel-heading">
        <h2 class="panel-title">These are your statistics </h2>
        </div>

        <!-- User Picture-->
        <div class="panel-body">
          <div class="row">
             <div class="col-md-3 col-lg-3 " align="center"> <img alt="userPlaceholder" src="images/personPlace.png" class="img-circle img-responsive"> </div>

        <!-- Information about the User -->
        <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
        <tbody>
        <tr>
        <td>Name:</td>
        <td><%= user.name %></td>
        </tr>

         <tr>
         <td>Your Total Games Played:</td>
         <td><%= user.played %></td>
         </tr>

         <tr>
         <td>Your Total Correct Answers:</td>
         <td><%= user.correct %></td>
         </tr>

         <tr>
         <td>Your Total Score</td>
         <td><%= user.score %></td>
         </tr>

         <tr></tr>

         </tbody>
         </table>

		<!--buttons for facebook & exit-->

		<script type="text/javascript">
			function share() {
				FB.ui({
					method: 'feed',
					link: 'http://plazarama.github.io/',
					redirect_uri: 'http://localhost:3000',
					name: 'Plazarama',
					caption: 'Plazarama, an online multiplayer and multiscreen game.',
					description: 'I totally got <%= user.score %> in <%= user.played %> games in Plazarama.\nJoin us now.'
				}, function(res) {
					if(res && res.post_id) {
						console.log(res.post_id);
					}
					else {
						console.log("Error");
					}
				});
			}
		</script>
		<a href="#" data-toggle="tooltip" title="Share your results to Facebook!" id="btnFbk" class="btn btn-primary" onclick="share()">SHARE TO FACEBOOK</a>

        <a href="logout" data-toggle="tooltip" title="Logout" id="btnExit" class="btn btn-primary">LOGOUT</a>
         </div>
         </div>
         </div>

		<!--Panel at the bottem-->
         <div class="panel-footer">

           <a href="profile" data-toggle="tooltip" title="Return to User Profile" type="button" class="btn btn-sm btn-primary" id="btn1"><i class="fa fa-user"></i></a>

           <span class="pull-right">
            <a href="host" data-original-title="Play" data-toggle="tooltip" title="Be the Player!" type="button" id="btn2" class="btn btn-sm btn-warning"><i class="fa fa-puzzle-piece"></i></a>

            <a href="logout" data-toggle="tooltip" title="Logout" type="button"id="btn3" id="btn1"class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>

             </span>
          </div>



	</div>
	<br>
  <% include partials/footer %>
</body>
</html>
